<div class="wrapper">
    <div class="content" [ngClass]="numSection % 2 == 0 ? 'evenSection':'oddSection'">

        <div class="sectionName">
            <h4>{{sectionList[numSection]}}</h4>
        </div>
        
        <form [formGroup]="brokerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="slowdown">slowdown</label>
                <input type="text" formControlName="slowdown" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.slowdown.errors }" />
            </div>

            <div class="form-group">
                <label for="delete">delete</label>
                <input type="text" formControlName="delete" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.delete.errors }" />
            </div>

            <div class="form-group">
                <label for="duplicate">duplicate</label>
                <input type="text" formControlName="duplicate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.duplicate.errors }" />
            </div>

            <div class="form-group">
                <label for="salt">salt</label>
                <input type="text" formControlName="salt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.salt.errors }" />
            </div>

            <div class="form-group">
                <label for="nothing">nothing</label>
                <input type="text" formControlName="nothing" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nothing.errors }" />
            </div>

            <div class="form-group">
                <button [disabled]="isLoading" class="btn btn-primary">Send</button>
            </div>
        </form>
        <div class="msg">
            <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error', 'alert-processing': message.type === 'processing' }">{{message.text}}</div>
        </div>
    </div>
</div>