.wrapper {
    padding: 20px 20px;
    display: table-cell;
}
.content {
    padding: 20px 40px;
    padding-bottom: 10px;
}
.sectionName {
    text-align: center;
    padding-bottom: 5px;
}
.form-control {
    height: 30px;
}
.form-group label {
    margin-bottom: 0px;
}
.oddSection {
    background-color: lightblue;
}
.evenSection {
    background-color: #9cc9d8;
}
.msg {
    height: 40px;    
}
.alert {
    padding: 0px;
    padding-left: 10px;
    margin-bottom: Opx;
}
.alert-processing {
    color: gray;
    background-color: #bdbdbd;
    border-color: #a2a2a2;
}