.content {
    width: 20%;
    margin: auto;
    display: inline-block;
    padding: 20px 40px;
    padding-bottom: 10px;
}
.sectionName {
    text-align: center;
    padding-bottom: 5px;
}
.form-control {
    height: 30px;
}
.form-group label {
    margin-bottom: 0px;
}
.oddSection {
    background-color: lightblue;
}
.evenSection {
    background-color: #9cc9d8;
}